<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.magung.menjadi_programmer.menjadi_programmer">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:label="Menjadi Programmer"
        android:icon="@mipmap/ic_launcher">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3846512692525748~4600675433"/>
    </application>
</manifest>
